.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
}

.col-12 {
    border-style: solid;
    padding: 0px;
}
p {
    background-color: blue;
    color: white;
}

form {
    margin: 40px;
}

table {
    margin: 40px;
}